{% extends 'base.html.twig' %}

{% block title %}Mots de passe oublié{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                
                {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}

                <h1>Mots de passe oublié</h1>
    
                {{ form_start(emailToResetPassword) }}
                    <div class="form-group">{{ form_row(emailToResetPassword.email) }}</div> 
                    <button class="btn btn-lg btn-primary" type="submit">Valider</button>
                {{ form_end(emailToResetPassword) }}
            </div>
        </div>
    </div>
{% endblock %}
