{% extends 'base.html.twig' %}

{% block title %}Gestion des Annonces - Proxi'Car{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="{{ path('user_panel') }}" class="fas fa-angle-left retour"> Retour</a>
            <h1>{{ controller_name }}</h1>  

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Vos annonces publiées</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date de publication</th>
                      <th>Titre</th>
                      <th>Prix de vente</th>
                      <th>Statut</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                  {% for userAnnonce in user_annonces %}
                    <tr>
                      <td>{{ userAnnonce.anndate|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
                      <td>{{ userAnnonce.anntitre }}</td>
                      <td>{{ userAnnonce.annprix }} €</td>
                      {% if userAnnonce.annactive == true %}
                        <td class="annonce-active">
                            <i class="fas fa-check-circle"></i>
                            Active
                        </td> 
                      {% else %}
                        <td class="annonce-inactive">
                            <i class="fas fa-times-circle"></i>
                            Désactivée
                        </td> 
                      {% endif %}
                      {% if userAnnonce.annactive == true %}
                      <td>
                        <a class="voir-annonce" href="{{ path('annonce', {'slug': userAnnonce.slug}) }}">Voir l'annonce</a> 
                        <a class="modifier-annonce" href="{{ path('modif_annonce', {'id': userAnnonce.id}) }}">Modifier</a> 
                        <a class="delete-annonce" href="javascript:void(0)" data-url="{{ path('supprimer_annonce', {'id': userAnnonce.id}) }}">Supprimer</a>
                      </td>
                      {% else %}
                      <td>
                        <a class="renouveler-annonce" href="{{ path('renouveler_annonce', {'id': userAnnonce.id}) }}">Renouveler l'annonce</a>  
                        <a class="delete-annonce" href="javascript:void(0)" data-url="{{ path('supprimer_annonce', {'id': userAnnonce.id}) }}">Supprimer définitivement</a>
                      </td>
                      {% endif %}
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div id="dialog-confirm" title="Confirmez votre choix">
        <p><span class="ui-icon ui-icon-alert"></span>L'annonce sélectionnée va être supprimée définitivement. </br> Confirmez-vous la suppression ?</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/annDialogDelete.js')}}"></script>
{% endblock %}