{% extends 'base.html.twig' %}

{% block title %}Connexion - Proxi'Car{% endblock %}

{% block body %}
    <div class="login-background">
        <div class="login-container">
            <form method="post" data-aos="fade-up">
                <div class="form-group">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                        
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté avec l'identifiant : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}
                    
                    <h1 class="text-center">Connexion à votre espace</h1>
                    <hr>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Mots de Passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mots de Passe" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    <a class="nav-link pl-1" href="{{ path('forgot_user_password') }}">Mot de passe oublié ?</a>
                </div>

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                #}
                
                <button class="btn btn-lg btn-primary">
                    Se Connecter
                </button>
            </form>
        </div>
    </div>
{% endblock %}
