{% extends 'base.html.twig' %}

{% block title %}Accueil - Proxi'Car{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ title_home }}</h1>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Dernières Annonces</h1>
        {% for annonce in annonces %}
            <p> Mise en ligne le {{ annonce.anndate|localizeddate('none', 'none', null, null, 'D MMMM Y') }} </p> 
            <p> Par {{ annonce.users.pseudo }} </p>
            <p> {{ annonce.anntitre }} </p>
            <p> {{ annonce.anncontenu|raw }} </p>
            <p> {{ annonce.annprix }} Euros </p>
        {% endfor %}
</div>

{% endblock %}
