{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('password-strength-meter/password.css')}}">
{% endblock %}

{% block title %}Inscription - Proxi'Car{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Inscription</h1>

            {{ form_start(registrationForm) }}
                <div class="no-bot-box">{{ form_row(registrationForm.accept_form) }}</div> <!-- Captcha invisible -->
                <div class="form-group">{{ form_row(registrationForm.email) }}</div> 
                <div class="form-group">{{ form_row(registrationForm.plainPassword.first) }}</div>
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second) }}
                    <div class="invalid-feedback">Les mots de passe doivent être identiques.</div>
                </div>
                <div class="form-group">{{ form_row(registrationForm.name) }}</div>
                <div class="form-group">{{ form_row(registrationForm.pseudo) }}</div>
                <div class="form-group">{{ form_row(registrationForm.num_tel) }}</div>
                <div class="form-group">{{ form_row(registrationForm.rgpd_cochee) }}</div>

                <button class="btn btn-lg btn-primary" type="submit">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('password-strength-meter/password.js')}}"></script>
    <script src="{{asset('js/passwordStrengthMeterInit.js')}}"></script>
    <script src="{{asset('js/comparePassword.js')}}"></script>
{% endblock %}