{% extends 'base.html.twig' %}

{% block title %}Annonce - Proxi'Car{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="{{asset('css/flexslider/flexslider.css')}}">
{% endblock %}

{% block body %}
    <div class="container annonce-article-container">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% if annonce.annavalider == true %}
            <div class="alert alert-info" role="alert">
                Annonce en attente de validation par l'administrateur.
            </div>
        {% endif %}
        {% if annonce.annsignaler == true %}
            <div class="alert alert-danger" role="alert">
                Annonce en attente de modération par l'administrateur.
            </div>
        {% endif %} 
        {% if annonce.annactive == false %}
            <div class="alert alert-warning" role="alert">
                Annonce inactive.
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{{ annonce.anntitre }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center pt-2"> Mise en ligne le {{ annonce.anndate|localizeddate('none', 'none', null, null, 'd MMMM Y') }} | Par: {{ annonce.users.pseudo }}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div id="slider" class="flexslider">
                    <ul class="slides">
                        {% for image in annonce.images %}  
                            <li>
                                <a data-fancybox="gallery" href="{{ asset('uploads/images/featured/'~image.imageName) }}"><img src="{{ asset('uploads/images/featured/'~image.imageName)|imagine_filter('article') }}"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>   
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="carousel" class="flexslider">
                    <ul class="slides">
                        {% for image in annonce.images %}  
                            <li>
                                <img src="{{ asset('uploads/images/featured/'~image.imageName)|imagine_filter('img_slide') }}" />
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                {% if annonce.annsignaler == true %} 
                    <p>Annonce en attente de modération.</p>
                {% elseif annonce.annmoderee == true %}
                    Annonce modéréé par l'administrateur.
                {% else %}
                    <a class="signaler-annonce" href="{{ path('signaler_annonce', {'id': annonce.id}) }}">Signaler un abus</a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-12">
                <h1>Description</h1>
                <hr>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <p>{{ annonce.anncontenu|raw }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Prix: {{ annonce.annprix }} Euros</p>
            </div>
            <div class="col-md-2">
                <p>Année: {{ annonce.anneemodele }}</p> 
            </div>
            <div class="col-md-3"> 
                <p>Kilométrage: {{ annonce.kilometre }} KM</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <p>Puissance fiscale: {{ annonce.cv }} CV</p>
                <p>Carburant: {{ annonce.carburant }}</p>
                <p>Boite de vitesse: {{ annonce.boitedevitesse }}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5">
                <p>Région: {{ annonce.region }}</p>
            </div>
            <div class="col-md-5">
                <p>Département: {{ annonce.departement }}</p> 
            </div>
            <div class="col-md-2"> 
                <p>Ville: {{ annonce.ville }}</p>
            </div>
        </div>
        <div class="row my-5 text-center">
            <div class="col-md-6 mb-3">
                <a class="send-message" href="{{ path('contact_annonceur', {'slug': annonce.slug}) }}">Ecrire à l'annonceur</a>
            </div>
            {% if annonce.users.numtel %}
                <div class="col-md-6">
                    <a class="numtel-button" num-user="{{ annonce.users.numtel }}">Voir le N° de téléphone</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="{{asset('js/jquery.flexslider.js')}}"></script>
    <script src="{{asset('js/carouselCarAnnInit.js')}}"></script>
    <script src="{{asset('js/hideTelNum.js')}}"></script>
{% endblock %}
