{% extends 'base.html.twig' %}

{% block title %}Annonce - Proxi'Car{% endblock %}

{% block body %}

<div class="container">
    {% if annonce.annavalider == true %}
        <div class="alert alert-info" role="alert">
            Annonce en attente de validation par l'administrateur.
        </div>
    {% endif %}
    {% if annonce.annsignaler == true %}
        <div class="alert alert-danger" role="alert">
            Annonce en attente de modération par l'administrateur.
        </div>
    {% endif %} 
    {% if annonce.annactive == false %}
        <div class="alert alert-warning" role="alert">
            Annonce inactive.
        </div>
    {% endif %}
    <h1>L'annonce</h1>
        <p> Mise en ligne le {{ annonce.anndate|localizeddate('none', 'none', null, null, 'd MMMM Y') }} </p> 
        <p> Par {{ annonce.users.pseudo }} </p>
        <p> {{ annonce.anntitre }} </p>
        <p> {{ annonce.anncontenu|raw }} </p>
        <p> {{ annonce.annprix }} Euros </p>
        <p> Année: {{ annonce.anneemodele }} </p> 
        <p> Puissance fiscale: {{ annonce.cv }} CV </p>
        <p> Carburant: {{ annonce.carburant }} </p>
        <p> Boite de vitesse: {{ annonce.boitedevitesse }} </p>
        <p> Région: {{ annonce.region }} </p>
        <p> Département: {{ annonce.departement }} </p>
        <p> Ville: {{ annonce.ville }} </p>
        
        {% if annonce.annsignaler == true %}
            <p>
                Annonce en attente de modération.
            </p>
        {% elseif annonce.annmoderee == true %}
            Annonce modéréé par l'administrateur.
        {% else %}
            <a class="signaler-annonce" href="{{ path('signaler_annonce', {'id': annonce.id}) }}">Signaler un abus</a>
        {% endif %}
        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for image in annonce.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{{ (loop.index == 1)?'active':'' }}"></li>     
                {% endfor %}   
            </ol>
            
            <div class="carousel-inner">  
                {% for image in annonce.images %}
                    <div class="carousel-item {{ (loop.index == 1)?'active':'' }}">
                        <img class="d-block w-100" src="{{ asset('uploads/images/featured/'~image.imageName)|imagine_filter('article') }}" alt="Image"> 
                    </div>
                {% endfor %} 
            </div>  
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/carouselCarAnn.js')}}"></script>
{% endblock %}
