{% extends 'base.html.twig' %}

{% block title %}Contact - Proxi'Car{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Nous Contacter</h1>
            {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            {{ form_start(contactForm) }} 
                <div class="no-bot-box">{{ form_row(contactForm.accept_form) }}</div> <!-- Captcha invisible -->
                <div class="form-group">{{ form_row(contactForm.name) }}</div> 
                <div class="form-group">{{ form_row(contactForm.email) }}</div>
                <div class="form-group">{{ form_row(contactForm.message) }}</div>
                <div class="form-group">{{ form_row(contactForm.agreeTerms) }}</div>
                
                <button class="btn btn-lg btn-primary" type="submit">Envoyer</button>
            {{ form_end(contactForm) }}
        </div>
    </div>
</div>
{% endblock %}
