<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Petites Annonces de Voitures d'occasions entre particuliers.">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body id="page-top">
        <nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top" id="mainNav">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}"><img class="logo" alt="logo" src="{{asset('./logo/png/logo-mini-transparent.png')}}" /></a>
            
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse pt-3" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('annonces') }}">Annonces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('contact') }}">Contact</a>
                    </li>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link nav-link js-scroll-trigger" href="{{ path('user_panel') }}">Mon Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link js-scroll-trigger" href="{{ path('admin_panel') }}">Administration</a>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link nav-link js-scroll-trigger" href="{{ path('user_panel') }}">Mon Compte</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link js-scroll-trigger" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}

                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link nav-link js-scroll-trigger" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %} 
                        <li class="nav-item">
                            <p class="nav-link nav-link js-scroll-trigger">{{ app.user.name }}, Administrateur</p>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <p class="nav-link nav-link js-scroll-trigger">{{ app.user.name }}, Utilisateur</p>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}

        <div class="modal fade" id="policyDialog" tabindex="-1" role="dialog" aria-labelledby="policyDialogTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="policyDialogTitle">Politique de Confidentialité</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <p>Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé par Proxi'Car pour la gestion du contenu du site et du compte utilisateur.</p>
                        <p>Elles sont conservées jusqu’à suppression du compte et sont destinées exclusivement à Proxi'Car.</p>
                        <p>Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en contactant l'administrateur du site via le formulaire de contact mis à votre disposition.</p>
                        <h2>Cookies</h2>
                        <p>Pour assurer le bon fonctionnement de ce site, nous devons parfois enregistrer de petits fichiers de données sur l’équipement de nos utilisateurs. La plupart des grands sites web font de même.</p>
                        <h3>Qu’est-ce qu’un cookie?</h3>
                        <p>Un cookie est un petit fichier texte que les sites web sauvegardent sur votre ordinateur ou appareil mobile lorsque vous les consultez. Il permet à ces sites de mémoriser vos actions et préférences (nom d’utilisateur, langue, taille des caractères et autres paramètres d’affichage) pendant un temps donné, pour que vous n’ayez pas à indiquer ces informations à chaque fois vous consultez ces sites ou naviguez d’une page à une autre.</p>
                        <h3>Comment utilisons-nous les cookies?</h3>
                        <p>Nous utilisons les cookies uniquement à des fins de statistiques pour connaître le comportement des visiteurs et optimiser leur expérience.</p>
                        <h3>Liste des cookies générés par ce site</h3>
                        <p><strong>PHPSESSID :</strong> Ce cookie technique, indispensable, sert à optimiser l'expérience des visiteurs.</p>
                        <p><strong>cookieconsent_status :</strong> Ce cookie, indispensable, sert à mémoriser votre choix concernant l’utilisation des cookies sur notre site. Ce cookie est valable 12 mois.</p>
                        <h3>Comment contrôler les cookies</h3>
                        <p>Vous pouvez contrôler et/ou supprimer des cookies comme vous le souhaitez. Pour en savoir plus, consultez aboutcookies.org. Vous avez la possibilité de supprimer tous les cookies déjà stockés sur votre ordinateur et de configurer la plupart des navigateurs pour qu’ils les bloquent. Toutefois, dans ce cas, vous devrez peut-être indiquer vous-mêmes certaines préférences chaque fois que vous vous rendrez sur un site, et certains services et fonctionnalités risquent de ne pas être accessibles.</p>
                        <p>Vous pouvez librement accepter ou refuser les cookies sur ce site. Pour les accepter, cliquez sur le bouton « Accepter » dans le bandeau en bas de l’écran (masqué si ils sont déjà acceptés). Pour modifier votre choix, utilisez l'onglet "Cookies" en bas à gauche de l'écran.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="pt-2 fixed-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 offset-lg-0">
                        <p>Proxi'Car - Site fictif dans le cadre d'un projet de fin de formation</p>
                    </div>
                    <div class="col-lg-5 onset-lg-0">
                        <ul>
                            <li><button type="button" data-toggle="modal" data-target="#policyDialog" class="btn btn-primary">Politique de Confidentialité</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
        <script src="{{asset('js/bs-init.js')}}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>  
        {% block javascripts %}{% endblock %}
    </body>
</html>
