<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">Proxi'Car</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('annonces') }}">Annonces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_panel') }}">Mon Compte</a>
                        </li>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_panel') }}">Administration</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Rechercher sur le site">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>
        
        {% block body %}{% endblock %}
        <div id="cookieConsent">
            <div id="closeCookieConsent">x</div>
            Ce site web utilise des cookies. 
            <a href="javascript:void(0)" class="policy">Plus d'infos</a>
            <a class="cookieConsentOK">OK</a>
        </div>

        <div id="dialog-policy" title="Politique de Confidentialité">
            <p>Proxi'Car accorde une attention particulière à vos données personnelles, et s’engage de par ses conditions d’utilisation à ne transmettre, vendre ou céder à un tiers aucune information personnelle vous concernant.</p>
            <p>Conformément à la loi « Informatique et Libertés » N° 78-17 du 6 Janvier 1978, vous bénéficiez d’un droit d’accès, de rectification et d’opposition. Pour l’exercer, merci de bien vouloir nous contacter par l’intermédiaire du formulaire de contact.</p>
            <h2>Données personnelles</h2>
            <p>Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé par notre site internet pour la gestion du contenu du site et du compte utilisateur.</p>
            <p>Elles sont conservées jusqu’à suppression du compte et sont destinées exclusivement à Proxi'Car.</p>
            <p>Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en nous contactant via le formulaire de contact.</p>
            <h2>Cookies</h2>
            <p>Pour assurer le bon fonctionnement de ce site, nous devons parfois enregistrer de petits fichiers de données sur l’équipement de nos utilisateurs.</p>
            <h3>Qu’est-ce qu’un cookie?</h3>
            <p>Un cookie est un petit fichier texte que les sites web sauvegardent sur votre ordinateur ou appareil mobile lorsque vous les consultez. Il permet à ces sites de mémoriser vos actions et préférences (nom d’utilisateur, langue, taille des caractères et autres paramètres d’affichage) pendant un temps donné, pour que vous n’ayez pas à indiquer ces informations à chaque fois vous consultez ces sites ou naviguez d’une page à une autre.</p>
            <h3>Comment utilisons-nous les cookies?</h3>
            <p>Nous utilisons les cookies uniquement à des fins de statistiques pour connaître le comportement des visiteurs et optimiser leur expérience.</p>  
        </div>
        <footer>
            <p>Proxi'Car - Site fictif dans le cadre d'un projet de fin de formation</p>
            <div>
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="policy">Politique de Confidentialité</a>
                    </li>
                </ul>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{asset('js/policyDialog.js')}}"></script>   
    {% block javascripts %}{% endblock %}
    </body>
</html>
